body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202028;
    color: white;
    font-family: sans-serif;
}

#game-container {
    text-align: center;
}

canvas {
    border: 2px solid white;
    background-color: #000;
}

#ui {
    margin-top: 10px;
}